<div class="container-fluid">
  <div class="row justify-content-end mt-3 mx-3 text-center">
    <button type="button" class="btn btn-dark standard-button me-3 button-width-md mt-2 d-flex align-items-baseline justify-content-center"><img class="upload-img me-2" src="assets/images/icons/upload_white.png"><span >Commit Changes</span></button>
    <button type="button" class="btn btn-dark standard-button me-3 button-width-md mt-2">+ Evidence</button>
    <button type="button" class="btn btn-dark standard-button me-3 me-md-0 button-width-md mt-2" (click)="openHypothesisDialog()">+ Hypothesis</button>
  </div>
</div>
<div>
  <mat-grid-list cols="10" rowHeight="250px" class="my-5 mx-3 display-lg" gutterSize="10px">
    <mat-grid-tile class="box-shadow"
                    *ngFor="let category of categories"
                    [colspan]="category.col"
                    [rowspan]="category.row"
    [style.background]="'white'">
      <app-bmc-category *ngIf="!isLoading"  class="w-100 h-100 d-flex"  [hypotheses]="hypotheses[category.text]" [categoryName]="category.text"></app-bmc-category>

    </mat-grid-tile>
  </mat-grid-list>
</div>

