<div class="container-fluid">
  <div class="row justify-content-end mt-3 ms-3 me-3 text-center">
    <button type="button" class="btn btn-dark bg-standard-color me-3 button-width-md-large mt-2 d-flex align-items-baseline justify-content-center"><img class="upload-img me-2" src="assets/images/icons/upload_white.png"><span >Commit Changes</span></button>
    <button type="button" class="btn btn-dark bg-standard-color me-3 button-width-md-middle mt-2">+ Evidence</button>
    <button mat-button type="button" class="btn btn-dark bg-standard-color me-3 me-md-0 button-width-md-middle mt-2" (click)="openHypoDialog()">+ Hypothesis</button>
  </div>
</div>
