.bg-standard-color
{
  background-color: #0046A0;
}

.upload-img{
  width: 15px;
  height: auto;
}
@media only screen and (min-width: 768px){

  .button-width-md-middle
  {
    width: 120px
  }

  .button-width-md-large
  {
    width: 250px
  }

}

