<div class="container-fluid">
  <div class="row justify-content-end mt-3 ms-3 me-3 text-center">
    <button type="button" class="btn btn-dark bg-standard-color me-3 button-width-md-large mt-2"><div class="row flex-row"><div class="col-3 d-flex align-items-center"><img class="upload-img mx-auto" src="assets/images/icons/upload_white.png"></div><div class="col-8"><span>Commit Changes</span></div></div></button>
    <button type="button" class="btn btn-dark bg-standard-color me-3 button-width-md-middle mt-2">+ Evidence</button>
    <button type="button" class="btn btn-dark bg-standard-color me-3 me-md-0 button-width-md-middle mt-2">+ Hypothesis</button>
  </div>
</div>
