.upload-img {
  width: 9.5px;
  height: auto;
}

.box-shadow
{
  box-shadow: 6px 3px lightgrey;
}



@media only screen and (min-width: 577px){

  .button-width-md
  {
    width: auto;
  }

}

@media only screen and (max-width: 992px){

  .display-lg
  {
    display: none;
  }


}




