<nav class="navbar navbar-expand-md navbar-dark bg-color-header">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Lean On</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav ms-md-auto align-items-center" *ngIf="adminService.checkJWTokenIfAdmin()">
        <a class="nav-link w-75 d-flex justify-content-center" [routerLink]="['teams']" aria-current="page"><img class="img-team" src="../../assets/images/header/baseline_terrain_white_48dpv2.png"></a>
        <a class="nav-link w-75 d-flex justify-content-center" [routerLink]="['commit']" *ngIf="adminTeamLoggedIn.isLoggedIn()"><img  class="img-commit" src="../../assets/images/header/baseline_fact_check_white_36dpv2.png"></a>
        <a class="nav-link w-75 d-flex justify-content-center" [routerLink]="['bmc']" *ngIf="adminTeamLoggedIn.isLoggedIn()"><img class="img-canvas" src="../../assets/images/header/Canvas.png"></a>
        <a class="nav-link w-75 d-flex justify-content-center" [routerLink]="['evidence']" *ngIf="adminTeamLoggedIn.isLoggedIn()"><img class="img-evidence" src="../../assets/images/header/baseline_science_white_36dpv2.png"></a>
      </div>
      <div class="navbar-nav ms-md-auto align-items-center" *ngIf="!(adminService.checkJWTokenIfAdmin())">
        <a class="nav-link w-75 d-flex justify-content-center" [routerLink]="['commit']"><img  class="img-commit" src="../../assets/images/header/baseline_fact_check_white_36dpv2.png"></a>
          <a class="nav-link w-75 d-flex justify-content-center" [routerLink]="['bmc']" ><img class="img-canvas" src="../../assets/images/header/Canvas.png"></a>
          <a class="nav-link w-75 d-flex justify-content-center" [routerLink]="['evidence']" ><img class="img-evidence" src="../../assets/images/header/baseline_science_white_36dpv2.png"></a>

      </div>
    </div>
  </div>
</nav>
