<nav class="navbar navbar-expand-md navbar-dark bg-color-header">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Lean On</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav ms-md-auto align-items-sm-center">
        <a class="nav-link active" [routerLink]="['team']" aria-current="page"><img class="img-team" src="assets/images/baseline_terrain_white_48dpv2.png"></a>
        <a class="nav-link" [routerLink]="['commit']"><img class="img-commit" src="assets/images/baseline_fact_check_white_36dpv2.png"></a>
        <a class="nav-link" [routerLink]="['bmc']"><img class="img-canvas" src="assets/images/Canvas.png"></a>
        <a class="nav-link" [routerLink]="['evidence']"><img class="img-evidence" src="assets/images/baseline_science_white_36dpv2.png"></a>
      </div>
    </div>
  </div>
</nav>
