*{
  color: white;
}

.bg-color-header
{
  background-color: #0046A0;
}

.img-team{
  width: 35px;
  height: auto;
}

.img-commit{
  width: 25px;
  height: auto;
}

.img-canvas{
  width: 38px;
  height: auto;
}

.img-evidence{
  width: 21px;
  height: auto;
}






