.img-delete{
  height: auto;
  width: 19px;
}

.img-check{
  height: auto;
  width: 19px;
}

.table-max-width{

  max-width: 1000px;
  width: 80%;
}

.font-size-md
{
  font-size: 11pt;
}



@media only screen and (min-width: 576px){

  .button-width-md
  {
    width: auto;
  }

}

@media only screen and (max-width: 576px){

  .font-size-xs
  {
    font-size: 9pt;
  }

  .width-table-xs{
    width: 80%
  }

  .icon-margin-xs{
    margin-left: 3px;
    margin-right: 3px;
  }

  .button-xs{
    width: 80%;
  }

  .width-100-xs{
    width: 100%;
  }




}

