<h2 mat-dialog-title>Add new Team</h2>
<mat-dialog-content class="mat-typography">
  <div class="container">
    <form [formGroup]="formGroup">
      <div>
        <mat-form-field appearance="standard">
          <mat-label>Team-name</mat-label>
          <input matInput formControlName="team-name">
        </mat-form-field>
      </div>
      <h2>New User</h2>

      <div formGroupName="users">
        <div class="justify-content-between d-flex flex-wrap">
          <mat-form-field appearance="standard">
            <mat-label>Firstname</mat-label>
            <input matInput formControlName="firstname">
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>Lastname</mat-label>
            <input matInput formControlName="lastname">
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>E-Mail</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>
        </div>
        <button class="btn standard-button mt-3" (click)="onAddUser()" type="button">Add User</button>
      </div>
      <h3 class="mt-3">Users</h3>
      <hr class="bg-danger border-2 border-top border-danger">
    </form>


  </div>
    <table #MatTable mat-table [dataSource]="usersDataSource" class="my-3" *ngIf="usersDataSource.data.length !== 0">
    <ng-container matColumnDef="Firstname">
      <th mat-header-cell *matHeaderCellDef> Firstname </th>
      <td mat-cell *matCellDef="let user"> {{user.firstname}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Lastname">
      <th mat-header-cell *matHeaderCellDef> Lastname </th>
      <td mat-cell *matCellDef="let user"> {{user.lastname}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="E-Mail">
      <th mat-header-cell *matHeaderCellDef> E-Mail </th>
      <td mat-cell *matCellDef="let user"> {{user.email}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-button (click)="sentTeamData()" [mat-dialog-close]="true" [disabled]="teamNameEmpty()">Add Team</button>
</mat-dialog-actions>
