*{
  color: white;
  font-family: Zenith;
  font-size: 20px;
}



.main-wrapper {
  height: 50vh;
}

.backgroundcolor{
  background-color: #8ec1f5;
}

.container{
  height: 100%;
  width: 100%;
}

.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-margin{
  margin-top: 5em;
}

