/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Zenith;
  src: local("Zenith"), url("./assets/fonts/Zenith.otf") format("opentype");
}


.standard-button
{
  background-color: #0046A0 !important;
  color: white !important;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*.mat-dialog-container{
  max-width: 800px;
}*/
